<div class="container content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="font-size: 20px;">Status: {{tama.status.name}}</div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-4">Kuscheln: {{tama.satisfaction_cuddle}}</div>
        <div class="col-md-4">Spielen: {{tama.satisfaction_love}}</div>
        <div class="col-md-4">Füttern: {{tama.saturation}}</div>
    </div>

</div>
<div>
    <img style="width: 230px; height: 230px; margin: 20px; background-color: white;" [src]="tama.status.path" />
  <div>
    <h3><i>Hinweis: {{tama.hint}}</i></h3>
  </div>
    <div class="buttons">
        <app-ui-feed></app-ui-feed>
        <app-ui-play></app-ui-play>
        <app-ui-cuddle></app-ui-cuddle>
    </div>
    <button class="myButton" (click)="reload()">Kuss geben</button>
</div>
