.Gotchi-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Gotchi-status {
  flex: 1 0 auto;
}

.Gotchi-box {
  position: relative;
  flex: 0 0 auto; 
  width: 400px;
}

.Gotchi-box img {
  position: absolute;
  left: 50px;
  top: 0;
}

.Gotchi-log {
  flex: 1 0 auto;
  width: 700px;
  height: 500px;
  overflow: hidden;
}

.Gotchi-face{
  height: 40vmin;
  pointer-events: none;
}

.Gotchi-face.fadeout {
  animation: Gotchi-face-wiggle infinite 2s ease-in-out, Gotchi-face-fadeout 1 1s ease-in-out;
  opacity: 0;
}

.Gotchi-face.fadein {
  animation: Gotchi-face-wiggle infinite 2s ease-in-out, Gotchi-face-fadein 1 1s ease-in-out;
  opacity: 1;
}

.Gotchi-face.stop-animation {
  animation: none !important;
}

@keyframes Gotchi-face-fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes Gotchi-face-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Gotchi-button {
  font-size: 24px;
  border-radius: 8px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes Gotchi-face-wiggle {
  0% {  transform: rotate(20deg); }
  50% {  transform: rotate(-20deg); }
  100% {  transform: rotate(20deg); }
}
