.Log-container {
  text-align: left;
  min-width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Log-header {
}

.Log-message-list {
  flex-grow: 1;
  list-style: none;
  padding-left: 0;
  overflow: scroll;
  width: 100%;
}

.Log-time {
  color: dimgray;
  font-size: x-small;
  display: inline-block;
  width: 50px;
}

.Log-message-list .critical {
  color: crimson;
  font-weight: bold;
  font-size: medium;
}

.Log-message-list .warning {
  color: yellow;
  font-weight: bold;
  font-size: medium;
}

.Log-message-list .positive {
  color: green;
  font-weight: bold;
  font-style: italic;
  font-size: small;
}

.Log-message-list .negative {
  color: orangered;
  font-weight: bold;
  font-style: italic;
  font-size: small;
}

.Log-message-list .informative {
  color: white;
  font-weight: bold;
  font-size: x-small;
}
