.Log-container {
  text-align: left;
  overflow: hidden;
}

.Log-message-list {
  list-style: none;
  padding-left: 0;
}

.Log-time {
  color: dimgray;
  font-size: x-small;
  display: inline-block;
  width: 50px;
}

.Log-message-list .critical {
  color: crimson;
  font-weight: bold;
  font-size: large;
}

.Log-message-list .critical {
  color: orangered;
  font-weight: bold;
  font-size: medium;
}

.Log-message-list .positive {
  color: green;
  font-weight: bold;
  font-size: small;
}

.Log-message-list .negative {
  color: chocolate;
  font-weight: bold;
  font-size: small;
}

.Log-message-list .informative {
  color: white;
  font-size: x-small;
}
